{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": false,
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "trailingComma": "es5",
  "bracketSameLine": true,
  "printWidth": 80,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.component.html",
      "options": { "parser": "html" }
    },
    {
      "files": "*.html",
      "options": { "parser": "html" }
    }
  ]
}
